@use 'src/scss/variables.scss' as v;
@use 'src/scss/utils' ;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  height: 50px;
  box-shadow: v.$box-shadow-navbar;
  background: v.$color-background-blur;
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: v.$card-border;
}

.inner {
  padding: 0 15px;
  max-width: v.$page-width-desktop;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 22.5px;
  font-family: v.$font;
  font-size: v.$fs-xl;
  font-weight: 600;
  text-decoration: none;
  color: v.$color-text;
  &:hover {
    color: v.$color-brand;
  }
} 

.search {
  width: 300px;
  @include utils.breakpoint(md) {
    display: none;
  }
}

.burgerWrapper {
  margin-right: 15px;
  @include utils.breakpoint(xl, min) {
    display: none;
  }
}

.right {
  display: flex;
}

.content {
  margin: 50px 0 0;
  min-height: calc(100vh - 50px);
}
