@use 'src/scss/variables.scss' as v;
@use 'src/scss/utils' ;

.content {
  margin: 0 auto;
  padding: 15px 15px 0;
  max-width: 1200px;
  width: 100%;
  background-color: v.$color-body;
  min-height: calc(100vh - 50px);
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 295px auto 295px;
}