@use 'src/scss/variables.scss' as v;

.baseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 6px 12px;
  border-radius: v.$border-radius;
  font-family: v.$font;
  font-size: v.$fs-normal;
  font-weight: 600;
  & svg {
    width: 20px;
    height: 20px;
  }
  &:disabled {
    cursor: auto;
    opacity: 0.6;
  }
}

.primaryButton {
  background-color: v.$color-button-main;
  color: v.$color-white;
  &:hover {
    background-color: v.$color-button-main-hover;
  }
}

.secondaryButton {
  background-color: v.$color-button;
  color: v.$color-button-text;
  &:hover {
    background-color: v.$color-button-hover;
  }
}

.textButton {
  background-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  color: v.$color-button-text;
  &:hover {
    background-color: rgba(v.$base-fg, 0.1);
  }
}

.fullWidth {
  width: 100%;
}

.underline {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: v.$color-brand;
  }
}

.withStartIcon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  & svg {
    margin-right: 15px;
  }
}