@use 'src/scss/variables.scss' as v;

.selectBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.5px 15px;
}

.name {
  font-family: v.$font;
  font-size: v.$fs-l;
  font-weight: 400;
  color: v.$color-button-text;
}