@use 'src/scss/variables.scss' as v;

.wrapper {
  padding: 12px 20px;
}

.head {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

@mixin postedDetail {
  font-family: v.$font;
  font-weight: 400;
  color: v.$color-text-light;
}

.postedBy {
  @include postedDetail();
}

.date {
  @include postedDetail();
}

.content {
  margin-bottom: 5px;
}

.title {
  font-family: v.$font;
  font-size: v.$fs-xl;
  font-weight: 600;
  color: v.$color-text;
}

.separator {
  background-color: v.$separator;
  border: none;
  height: 1px;
}

.commentsNumber {
  margin-bottom: 12px;
  font-family: v.$font;
  font-size: v.$fs-l;
  font-weight: 400;
  color: v.$color-text;
}

.textarea {
  margin-bottom: 12px;
}

