@use 'src/scss/variables.scss' as v;

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.errorMessage {
  color: v.$color-red;
  font-size: v.$fs-normal;
  font-family: v.$font;
}
