@use "sass:list";

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Noto Sans Sinhala", sans-serif;
$fs-base: 10px;
$fs-xs: 1.2rem;
$fs-s: 1.3rem;
$fs-normal: 1.4rem;
$fs-l: 1.5rem;
$fs-xl: 1.6rem;
$fs-2xl: 2.5rem;
$fs-3xl: 2.8rem;
$fs-4xl: 3.2rem;
$fs-5xl: 3.8rem;
$border-radius: 5px;
$page-width-desktop: 1200px;
$base-0: rgb(0 0 0);
$base-1: rgb(25 25 25);
$base-2: rgb(50 50 50);
$base-3: rgb(75 75 75);
$base-4: rgb(100 100 100);
$base-5: rgb(125 125 125);
$base-6: rgb(150 150 150);
$base-7: rgb(175 175 175);
$base-8: rgb(200 200 200);
$base-9: rgb(225 225 225);
$base-10: rgb(255 255 255);
$base-brand: rgb(107 2 242);
$base-white: $base-10;
$base-black: $base-0;
$base-red: rgb(236 72 72);
$base-green: rgb(34 164 34);
$base-gray: $base-5;
$base-fg: $base-black;
$base-bg: $base-white;
$color-brand: $base-brand;
$color-white: $base-white;
$color-black: $base-black;
$color-red: $base-red;
$color-green: $base-green;
$color-gray: $base-gray;
$color-bg: $base-bg;
$color-fg: $base-fg;
$color-body: #eee;
$color-text-black: $base-2;
$color-text-white: rgb(210 210 210);
$color-text: $color-text-black;
$color-text-light: $base-4;
$color-link: $base-brand;
$color-button: rgba($base-8, 0.7);
$color-button-text: $color-text;
$color-button-hover: rgba($base-8, 0.9);
$color-button-main: $color-brand;
$color-button-main-hover: #5800c9;
$color-input: rgba($base-4, 0.15);
$color-input-active: rgba($base-4, 0.1);
$color-input-border-hover: #d7d7d7;
$color-input-border-focus: #7f6bff;
$color-checkbox-border: #bbc1e1;
$color-checkbox-disabled: #f6f8ff;
$color-checkbox-disabled-inner: #e1e6f9;
$color-background-blur: rgba($base-bg, 0.8);
$color-scrollbar: $base-gray;
$color-card: $color-bg;
$color-card-border: #00000029;
$color-card-domain: #8f8f8f;
$color-skeleton: rgba($base-fg, 0.05);
$color-comment-line: lightgray;
$color-mini-footer-text: #667b8c;
$color-modal-overlay: rgba($base-9, 0.59);
$modal-box-shadow: rgba($base-fg, 0.17) 0px 8px 16px 0px;
$modal-box-border: none;
$modal-width: 360px;
$modal-bg-blur: blur(2px);
$box-shadow: 1px 1px 2px rgba($base-fg, 0.08);
$box-shadow-navbar: rgba($base-fg, 0.08) 0px 1px 2px 0px, rgba($base-fg, 0.05) 0px 0px 2px 0px;
$dropdown-shadow: 2px 2px 3px rgba($base-fg, 0.14), -1px -1px 2px rgba($base-fg, 0.1), 0 0 0 1px rgba($base-fg, 0.05);
$card-border: 1px solid transparent;
$card-shadow-style-1: 0 0 0 1px rgba($base-fg, 0.09);
$card-shadow-style-2: rgba($base-fg, 0.2) 0px 1px 2px 0px;
$card-shadow: $card-shadow-style-1;
$seperator: 1px solid rgba($base-fg, 0.1);