@use 'src/scss/variables.scss' as v;
@use 'src/scss/utils';

.overlay {
  position: fixed;
  inset: 0;
  background: v.$color-modal-overlay;
  backdrop-filter: v.$modal-bg-blur;
}

.content {
  padding: 7px;
  height: 100vh;
  max-width: 260px;
  background-color: v.$color-bg;
  @include utils.breakpoint(sm) {
    max-width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: v.$separator;
}

.title {
  font-family: v.$font;
  font-size: v.$fs-xl;
  font-weight: 600;
  color: v.$color-text;
}

